		
		*{

			margin:0;
			padding: 0;
			box-sizing: border-box;

			list-style: none;
			text-decoration: none;

		}
		.title{

			display: flex;
			justify-content: center;

			margin-top:10vh;

		}
		.container{

			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			margin-top:5vh;
			height:100%;

		}
		.form-cadastro{

			color:#ffff;
			background-color:#2E3740;

			border: 1px solid black;
			border-radius:20px;

			padding:5vh;
            margin-right: 5px;

            width:200px;
            height:200px;

		}
        .form-cadastro > p{

            font-size: 10px;

        }
		.lista-pessoa{

            font-size:10px;
			
		}
        .lista{

            border: 1px solid black;

        }
		.opcoes{

            background-color:#2E3740; 
            color:white;

            align-items:center;
			
		}
        .opcoes li{

            font-size: 10px;
            color:white;
			
        }
		footer{

			margin-top: 13vh;
            margin-bottom: 3vh;
            display:flex;
            justify-content: center;

		}
        .footer{

            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;

		}
		.footer p, a{
			font-size: 10px;
		}
     