		
		*{

			margin:0;
			padding: 0;
			box-sizing: border-box;

			list-style: none;
			text-decoration: none;

		}
		.title{

			display: flex;
			justify-content: center;

			margin-top:10vh;

		}
		.container{

			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			margin-top:5vh;

			height:100%;

		}
		.form-cadastro{

			color:#ffff;
			background-color:#2E3740;
			border: 1px solid black;

			padding:10vh;

			width:30%;
			height: 100%;

		}
		.lista-pessoa{

			border: 1px solid black;
			width:40%;

		}